{
	"semi": false,
	"trailingComma": "none",
	"singleQuote": true,
	"printWidth": 120,
	"tabWidth": 2,
	"jsxSingleQuote": false,
	"jsxBracketSameLine": false,
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"useTabs": false,
	"endOfLine": "lf"
}
