{
    "semi":  false,
    "trailingComma":  "none",
    "singleQuote":  true,
    "printWidth":  80,
    "tabWidth": 4,
    "jsxSingleQuote": false,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid",
    "bracketSpacing": true
}