body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

h1 {
  font-size: calc(100% + 6vw);
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
}

.status {
  width: 40vmax;
  font-size: calc(100% + 0.5vw);
}

.status {
  display: flex;
  justify-content: center;
  text-align: left;
}

.status a {
  display: inline;
}
