body
    margin 0
    height 100vh
    font-family 'Fira Code'
    display flex
    justify-content center
    align-items center
    a
        text-align center
        text-decoration underline
        display inherit
        justify-content inherit